.btn-day-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: #fff;

  &:not(&--active):hover {
    background-color: #e6e6e6;
  }

  &--today {
    background-color: #ffff76;
  }

  &--active {
    background-color: #006edc;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  &--transparent {
    color: #757575;
  }
}
